*{
    margin: 0;
    padding: 0;
}

.padre{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 30%;
}